@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@font-face {
    font-family:"pokemon" ;
    src: url(fonte/Pokemon\ Solid.ttf) format("opentype"),url("Pokemon Solid.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    background-color: rgb(208, 47, 47);
    padding: 50px;
}

body{
    background-color: black; 
}

main{
    display: block;
    background-color: white;
    margin: auto;
    padding: 30px;
    height: 1300px;
    min-width: 350px;
    max-width: 750px;
}

main h1{
    font-size: 32px;
    font-family: 'pokemon', sans-serif;
    margin: 10px;
    color: rgb(239, 239, 17);
    text-shadow: 2px 2px 2px black;
    letter-spacing: 7px;  
}

div{
    margin-top: 10px;
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    padding: 10px;  
}

.pokebola{
    margin: auto;
    margin-top: -150px;
    padding-left:280px ;
    display: block;  
    min-width: 360px;
    width: 100%;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    text-align: center;
    padding: 20px;
}

section{  
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    text-align: center;     
}

section a{
    color: rgb(7, 6, 6);
}

section a:hover{
    color: rgb(230, 0, 0);
    text-decoration: underline;
}

p{
    padding: 5px;  
}

#conteudo{
    display: block;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    width: 75%;
}

img{
    display:block;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

section h2{
    display: block;
   text-align: center;
    margin-top: -50px;
    padding-bottom: 40px;
}

footer{
    background-color: rgb(255, 247, 0);
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;

}

