div.i1{
    border: 1px solid black;
    height: 200px;
    border-radius: 10px;
    background-image: url(imagens/imagen-dotop.jpg);
    background-position:   left center ;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 10px;
    
    
}

div.i2{
    margin: 10px;
    border: 1px solid black;
    height: 400px;
    width: 160px;
    border-radius: 10px;
    background-image: url(imagens/imagem-vertical-esquerda.jpg);
    background-position:   bottom center ;
    background-repeat: no-repeat;
}
div.i3{
    margin: 10px;
    border: 1px solid black;
    height: 400px;
    width: 600px;
    border-radius: 10px;
    background-image: url(imagens/imagem-quadrado.jpg);
    background-position:   bottom center ;
    background-repeat: no-repeat;
}
div#juntos{
    display: inline-block;
   
   
}