body {
    background-color: rgb(192, 190, 187);
}
h1{
background-color: rgb(166, 134, 196);
color: white;
text-align: center;

}
div{
    display: inline-block;
    border:1px solid ;
    width: 200px;
    height: 200px;
    text-align: center;
}
div#d1:hover{
    background-color: rgb(166, 134, 196);
}
div#d2:hover{
    background-color: rgb(134, 140, 196);
}
div#d3:hover{
    background-color: rgb(196, 187, 134);
}
div#d4:hover{
    background-color: rgb(116, 146, 82);
}
div#d5:hover{
    background-color: rgb(196, 134, 134);
}
div#d6:hover{
    background-color: rgb(134, 189, 196);

}
div#d7:hover{
    background-color: rgb(143, 96, 187);
}
div#d8:hover{
    background-color: rgb(90, 221, 193);
}
div#d9:hover{
    background-color: rgb(143, 196, 119);

}